<div class="header-nav">
      <div class="container-fluid container-xl position-relative">
        <nav id="navmenu" class="navmenu">
          <ul>
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Trang chủ</a></li>
            <li><a routerLink="/about" routerLinkActive="active">Giới thiệu</a></li>
            <li><a routerLink="/search" routerLinkActive="active">Tra cứu</a></li>
            <li><a routerLink="/reserve" routerLinkActive="active">Đặt trước sách</a></li>
            <li><a routerLink="/history" routerLinkActive="active">Lịch sử mượn</a></li>
            <li><a routerLink="/reports" routerLinkActive="active">Báo cáo</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Liên hệ</a></li>
          </ul>
        </nav>
      </div>
    </div>