
<app-feature-books></app-feature-books>>

<section id="cards" class="cards section">

      <div class="container aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-4 col-md-6 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
            <app-latest-books></app-latest-books>
          </div>

          <div class="col-lg-4 col-md-6 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
            <app-most-borrowed-books></app-most-borrowed-books>
          </div>

          <div class="col-lg-4 col-md-6 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
            <app-recommended-books></app-recommended-books>
          </div>

        </div>

      </div>

    </section>