<nav class="menu-nav">
  <ul class="nav flex-column" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" routerLink="/info/review" aria-selected="false" tabindex="-1" role="tab">
        <i class="bi bi-star"></i>
        <span>Đánh giá của tôi</span>
      </a>
    </li>
    <!-- Nếu sau này muốn mở setting -->
    <!--
    <li class="nav-item" role="presentation">
      <a class="nav-link" data-bs-toggle="tab" routerLink="/info/setting" aria-selected="false" tabindex="-1" role="tab">
        <i class="bi bi-gear"></i>
        <span>Thay đổi thông tin</span>
      </a>
    </li>
    -->
  </ul>

  
  <div class="menu-footer"> 
    <a href="#" (click)="onLogout()"  class="logout-link"> <i class="bi bi-box-arrow-right"></i> 
      <span>Đăng xuất</span> </a> </div>
</nav>
