<div class="header-nav">
  <div class="container-fluid container-xl position-relative">
    <nav id="navmenu" class="navmenu">
      <ul>
        <!-- Ai cũng thấy -->
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Trang chủ</a></li>
        <li><a routerLink="/about" routerLinkActive="active">Giới thiệu</a></li>
        <li><a routerLink="/search" routerLinkActive="active">Tra cứu</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Liên hệ</a></li>

        <!-- Chỉ dành cho độc giả -->
        <li *ngIf="authService.isUser()"><a routerLink="/reserve" routerLinkActive="active">Đặt trước sách</a></li>
        <li *ngIf="authService.isUser()"><a routerLink="/history" routerLinkActive="active">Lịch sử mượn</a></li>
        <li *ngIf="authService.isUser()"><a routerLink="/reports" routerLinkActive="active">Thông báo</a></li>

        <!-- Chỉ dành cho admin -->
        <li *ngIf="authService.isAdmin()"><a routerLink="/admin" routerLinkActive="active">Quản trị</a></li>
      </ul>
    </nav>
  </div>
</div>
