<header id="header" class="header sticky-top">
    <!-- Top Bar -->

    <!-- Main Header -->
    <div class="main-header">
      <div class="container-fluid container-xl">
        <div class="d-flex py-3 align-items-center justify-content-between">

          <!-- Logo -->
          <a routerLink="/" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.webp" alt=""> -->
            <h1 class="sitename">Nicebrary</h1>
          </a>

          <!-- Search -->
          <form class="search-form desktop-search-form">
            <app-find></app-find>
          </form>

          <!-- Actions -->
          <div class="header-actions d-flex align-items-center justify-content-end">


            <!-- Account -->
            <app-account-menu></app-account-menu>

          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <app-nav-menu></app-nav-menu>

  </header>